{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - MeloMatch{% endblock %}

{% block content %}
  <div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
      <div class="flex flex-wrap justify-between gap-3 p-4"><p
        class="text-foreground tracking-light text-[32px] font-bold leading-tight min-w-72">About MeloMatch</p></div>
      <h2 class="text-card-foreground text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our
        Mission</h2>
      <p class="text-accent-foreground text-base font-normal leading-normal pb-3 pt-1 px-4">
        At MeloMatch, our mission is to connect music lovers and foster a vibrant community around shared musical
        tastes. We believe that music is a universal language that
        transcends boundaries and brings people together. Our app is designed to help you discover new music, connect
        with like-minded individuals, and share your passion for
        music.
      </p>
      <h2 class="text-card-foreground text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our
        Story</h2>
      <p class="text-accent-foreground text-base font-normal leading-normal pb-3 pt-1 px-4">
        MeloMatch was born out of a shared love for music and a desire to create a platform where people could easily
        find others who share their musical interests. Our team
        of music enthusiasts and tech experts came together to build an app that is both user-friendly and
        feature-rich, making it simple for you to explore new genres,
        artists, and connect with fellow music lovers.
      </p>
      <h2 class="text-card-foreground text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">The
        Technology</h2>
      <p class="text-accent-foreground text-base font-normal leading-normal pb-3 pt-1 px-4">
        Our AI-powered recommendation engine analyzes various aspects of music,
        including rhythm, harmony, instrumentation, and lyrical themes, to understand
        what makes each song unique. This technology, combined with your listening
        history and preferences, creates a personalized music discovery experience.
      </p>
      <h2 class="text-card-foreground text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Contact
        Us</h2>
      <p class="text-accent-foreground text-base font-normal leading-normal pb-3 pt-1 px-4">
        We'd love to hear from you! If you have any questions, feedback, or suggestions, please don't hesitate to
        reach out to us at support@melomatch.com.
      </p>
    </div>
  </div>
{% endblock %}

