.profile-container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.profile-image-container {
    /*background-color: #f8f9fa;*/
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: var(--bs-primary);
    border-bottom: 2px solid var(--bs-primary);
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}

